body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.jumbotron {
    background-color: #9FAA22;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
    height: 300px;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}

/*======================================================================================================================
                                             Eigene Panels/Div
 =====================================================================================================================*/
#MentorAnlegen{
    text-align: left;
}

.btn{
    background: #818181;
    color: #FFF
}


/*======================================================================================================================
                                             Admin-Login
 =====================================================================================================================*/


/* Set a style for all buttons */
button {
    background-color: #818181;
    color: #FFF;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 20%;
}




span.psw {
    float: right;
    padding-top: 16px;
}

/* Modal Content/Box */



